body,
.sans-serif,
.fw1,
.fw2,
.fw3,
.fw4,
h1,
h2,
h3,
h4,
h5,
h6,
.b,
.fw6,
.fw7,
.fw8,
select,
input,
label,
textarea,
button,
a {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  background-color: ;
}

body,
.sans-serif {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  -o-font-feature-settings: normal;
  font-feature-settings: normal;
  font-kerning: normal;
}

p,
div {
  hyphens: inherit;
  word-break: break-word;
}
button,
a {
  cursor: pointer;
  word-break: initial;
}
div,
select,
button,
input,
label,
h1,
h2,
h3,
h4,
h5,
h6,
.radio,
.checkmark,
#status,
.err {
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
input,
select {
  height: 50px;
  max-width: 100%;
  border: 1px solid #f1f1f1;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

label .arrow {
  position: absolute;
  border: 1px solid rgb(151, 151, 151);
  right: 16.66px;
  top: 16.66px;
  width: 10px;
  height: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
}
fieldset {
  border-style: solid;
}

select:hover,
input:hover,
label:hover .radio,
label:hover .checkmark {
  border: 1px solid #4d90fe;
}
button:focus,
select:focus,
a.button-reset:focus,
input:focus,
fieldset label input:focus + .radio,
fieldset label input:focus + .checkmark {
  outline: none;
  -webkit-box-shadow: 0 0 5px #4d90fe;
  -moz-box-shadow: 0 0 5px #4d90fe;
  box-shadow: 0 0 5px #4d90fe;
  border: 1px solid #4d90fe;
}
#submit:active:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
label[for],
.label {
  position: absolute;
  z-index: 2;
  top: 0.6rem;
  left: 1rem;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  transform: translateY(25%);
  opacity: 0;
  margin-top: 0;
  font-size: 0.65rem;
  pointer-events: none;
}
input:not(:placeholder-shown),
select[required]:valid,
.active input,
.active select {
  padding-top: 0.7rem;
  padding-bottom: 0;
  color: black;
}
input:not(:placeholder-shown) + label[for],
select[required]:valid + .label,
.active label[for],
.active .label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
select {
  color: #757575;
}
.npe {
  pointer-events: none;
}
button:disabled .loader,
button:disabled .loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
button:disabled .loader {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  -moz-animation: load8 1.1s infinite linear;
  -ms-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
fieldset label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
fieldset label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark,
.radio {
  position: relative;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.checkmark {
  border-radius: 0.25rem;
}
.radio {
  border-radius: 50%;
}
fieldset.error .radio,
fieldset.error .checkmark {
  background-color: #ff0000;
}
fieldset label input:checked ~ .radio,
fieldset label input:checked ~ .checkmark {
  background-color: #2196f3;
}
.radio:after,
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
fieldset input:checked ~ .radio:after,
fieldset input:checked ~ .checkmark:after {
  display: block;
}
fieldset label .checkmark:after {
  left: 50%;
  top: 40%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
fieldset label .radio:after {
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes error {
  100% {
    border-color: rgb(244, 67, 54);
    box-shadow: rgb(244, 67, 54) -2px 0 0 inset, rgb(244, 67, 54) 2px 0 0 inset,
      rgb(244, 67, 54) 0 2px 0 inset, rgb(244, 67, 54) 0 -2px 0 inset;
    -moz-box-shadow: rgb(244, 67, 54) -2px 0 0 inset,
      rgb(244, 67, 54) 2px 0 0 inset, rgb(244, 67, 54) 0 2px 0 inset,
      rgb(244, 67, 54) 0 -2px 0 inset;
    -webkit-box-shadow: rgb(244, 67, 54) -2px 0 0 inset,
      rgb(244, 67, 54) 2px 0 0 inset, rgb(244, 67, 54) 0 2px 0 inset,
      rgb(244, 67, 54) 0 -2px 0 inset;
  }
}
.err {
  animation-name: error;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  border-color: rgb(244, 67, 54);
  box-shadow: rgb(244, 67, 54) -1px 0 0 inset, rgb(244, 67, 54) 1px 0 0 inset,
    rgb(244, 67, 54) 0 1px 0 inset, rgb(244, 67, 54) 0 -1px 0 inset;
  -moz-box-shadow: rgb(244, 67, 54) -1px 0 0 inset,
    rgb(244, 67, 54) 1px 0 0 inset, rgb(244, 67, 54) 0 1px 0 inset,
    rgb(244, 67, 54) 0 -1px 0 inset;
  -webkit-box-shadow: rgb(244, 67, 54) -1px 0 0 inset,
    rgb(244, 67, 54) 1px 0 0 inset, rgb(244, 67, 54) 0 1px 0 inset,
    rgb(244, 67, 54) 0 -1px 0 inset;
}
